DB_DRIVER=ODBC Driver 18 for SQL Server
DB_SERVER=tu-servidor.database.windows.net
DB_DATABASE=tu_base
DB_USERNAME=tu_usuario
DB_PASSWORD=tu_password
DB_TRUST_SERVER_CERTIFICATE=yes

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_EMAIL=tu_correo@gmail.com
SMTP_APP_PASSWORD=tu_clave_de_aplicacion

ADMIN_VERIFICADOR_ID=1
